<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
      <img src="./assets/img/4.png" width="30" height="30" class="d-inline-block align-top" alt="">
      InstaGT
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto text-center" id="3">
          <li class="nav-item active">
              <a class="nav-link" href="#" id="B1"><button type="button" class="btn btn-outline-success"  data-toggle="modal" data-target="#Modal2" >NUEVO +</button></a>
          </li>
      </ul>
  </div>
</nav>
<div class="container pt-5">
  <div class="jumbotron"style="background-image: url(./assets/img/21.jpeg);">
    <h1  class="display-4 text-white" >Momentos Guate</h1> 
    <p class=" text-white">Postea tus mejores fotos sobre lugares, cultura, tradicones y demá
        sobre Guatemala
    </p> 
  </div>
</div>
<div class="container">
  <div class="card-columns mt-5 pt-5" id="Galeria">
          <div *ngFor= 'let imag of imagenes' class="card">
              <img class="card-img-top img-fluid" src="./assets/img/{{imag.name}}.jpeg" alt="">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <app-modales></app-modales>
              </div>
          </div>   
      </div>
  </div>